.Card{
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid red;
    margin: 10px;
}

.Card .Title{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content{
    background-color: #fff ;
    color: black;
    padding: 10px;
}